In [1]:
import pandas as pd

In [2]:
data_set=pd.read_csv("/home/jovyan/demo/try.csv")
print(data_set)

    Name   ID  math  physics  chemistry
0   qaim  1.0    69     68.0       63.0
1  hasan  2.0    52     69.0       65.0
2  azhar  3.0    89     78.0       86.0
3  yasir  NaN    52      NaN        NaN

In [8]:
data_set.fillna(12,inplace=True)
print(data_set)

    Name    ID  math  physics  chemistry
0   qaim   1.0    69     68.0       63.0
1  hasan   2.0    52     69.0       65.0
2  azhar   3.0    89     78.0       86.0
3  yasir  12.0    52     12.0       12.0

In [13]:
data_set1=pd.read_csv("/home/jovyan/demo/try.csv")
print(data_set1)
x=data_set1["physics"].mean()
data_set1["physics"].fillna(x,inplace=True)
print(x)
print(data_set1)

    Name   ID  math  physics  chemistry
0   qaim  1.0    69     68.0       63.0
1  hasan  2.0    52     69.0       65.0
2  azhar  3.0    89     78.0       86.0
3  yasir  NaN    52      NaN        NaN
71.66666666666667
    Name   ID  math    physics  chemistry
0   qaim  1.0    69  68.000000       63.0
1  hasan  2.0    52  69.000000       65.0
2  azhar  3.0    89  78.000000       86.0
3  yasir  NaN    52  71.666667        NaN

In [15]:
z=data_set1["chemistry"].mean()
data_set1["chemistry"].fillna(z,inplace=True)
print(z)
print(data_set1)

71.33333333333333
    Name   ID  math    physics  chemistry
0   qaim  1.0    69  68.000000  63.000000
1  hasan  2.0    52  69.000000  65.000000
2  azhar  3.0    89  78.000000  86.000000
3  yasir  NaN    52  71.666667  71.333333

In [17]:
data_set1["ID"].fillna(4,inplace=True)
print(data_set1)

    Name   ID  math    physics  chemistry
0   qaim  1.0    69  68.000000  63.000000
1  hasan  2.0    52  69.000000  65.000000
2  azhar  3.0    89  78.000000  86.000000
3  yasir  4.0    52  71.666667  71.333333

In [22]:
data_set1["Date"]=pd.date_range(start='1/1/2021', periods=len(data_set1))
print(data_set1)

    Name   ID  math    physics  chemistry       Date
0   qaim  1.0    69  68.000000  63.000000 2021-01-01
1  hasan  2.0    52  69.000000  65.000000 2021-01-02
2  azhar  3.0    89  78.000000  86.000000 2021-01-03
3  yasir  4.0    52  71.666667  71.333333 2021-01-04

In [23]:
data_set1.loc[2,"chemistry"]=45
print(data_set1)

    Name   ID  math    physics  chemistry       Date
0   qaim  1.0    69  68.000000  63.000000 2021-01-01
1  hasan  2.0    52  69.000000  65.000000 2021-01-02
2  azhar  3.0    89  78.000000  45.000000 2021-01-03
3  yasir  4.0    52  71.666667  71.333333 2021-01-04

In [24]:
print(data_set1.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 6 columns):
Name         4 non-null object
ID           4 non-null float64
math         4 non-null int64
physics      4 non-null float64
chemistry    4 non-null float64
Date         4 non-null datetime64[ns]
dtypes: datetime64[ns](1), float64(3), int64(1), object(1)
memory usage: 272.0+ bytes
None